<% if @story.errors.any? %>
  <div class="form_error">
    <h3>Errors</h3>
    <ul>
      <% @story.errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @story do |f| %>
  <div>
    <p><%= f.label :name %></p>
    <%= f.text_field :name %>
  </div>
  <div>
    <p><%= f.label :link %></p>
    <%= f.text_field :link %>
  </div>
  <div>
    <p><%= f.label :description %></p>
    <%= f.text_area :description %>
  </div>
  <p>
    Tags (comma separated):<br>
    <%= f.text_field :tag_list %>
  </p>
  <%= submit_tag %>
<% end %>
